@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
  font-family: "Inter", sans-serif;
  background-color: #1b2838;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

.buscar,
.buscar::placeholder {
  background-color: #2a475e;
  color: #d7d7d7;
}

.promoCard {
  width: 280px;
  transition: transform 0.2s;
  background: linear-gradient(to bottom, #19587b, #2b87ae);
}

.promoCard:hover {
  transform: scale(1.03);
}

.desconto {
  background-color: #4c6b22;
  color: #beeb14;
}

.corValor {
  color: #beeb14;
}

#addCarrinho:hover {
  background-color: #547625;
}

#addCarrinho:disabled {
  background-color: #4c6b22;
}

input.form-control:focus {
  box-shadow: none;
}

.marginHeader {
  margin-top: 200px;
}

.LoginCard {
  width: 650px;
  margin: 0 auto;
  background-color: #d9d9d9;
  padding: 10px;
  border-radius: 10px;
  border-radius: 50px;
}

.CardCartao {
  background-color: #d9d9d9;
}

.ImagemCard {
  width: 200px;
}

.steam-card {
  background-color: #2a475e;
  color: white;
  border-radius: 5px;
  overflow: hidden;
  max-width: 650px;
  margin: 30px auto;
}

.steam-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.animacao :hover {
  transform: scale(1.03);
}

.game-title {
  font-weight: bold;
  font-size: 1.2rem;
}

.game-tags {
  color: #c7d5e0;
  font-size: 0.9rem;
}

.price {
  font-size: 1.3rem;
  color: #ffd700;
}

.btn-steam {
  background-color: #a4d007;
  color: black;
  font-weight: bold;
}

.btn-steam:hover {
  background-color: #b5e008;
}

.dvh-100 {
  height: 100dvh;
}
